* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00054a;
    color: whitesmoke;
    font-family: KoHo;
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 2rem;
}

h1 {
    padding: 1.5rem;
    color: whitesmoke;
    background-color: #000000;
}

img {
    max-width: 100%;
    height: 15rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 1rem;
    border: 1px solid;
}

th {
    color: #00054a;
    background-color: #c2c6fc;
}

tbody tr:nth-child(even) {
background-color: #000661; 
}

.titulos {
    color: #d4cdff;
}

#imagem_hero {
    height: 20rem;
}

nav a {
    text-decoration: none;
    color: rgb(128, 255, 219);
    padding: 1rem;
}

aside a {
    color: #c2fce7;
    padding: 1rem;
}

td > img {
    margin: 10px;
}

p + img {
    margin: 2rem;
}

button[type="submit"] {
    color: #00054a;
    background-color: whitesmoke;   
}

a:hover {
    color: #008179;
}